<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DA SOSTITUIRE COME PARAMETRO</title>
    <link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>
            Example page header 
            <small>Subtext for header</small>
        </h1>
    </div>
  </body>
</html>