<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DA SOSTITUIRE COME PARAMETRO</title>
    <link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex" role="search">
                    <a class="btn btn-primary me-2" href="">Login</a>
                    <a class="btn btn-secondary" href="">Registrati</a>
                </div>
            </div>
        </div>
    </nav>


    <!-- INIZIO -->
    <div class="d-flex flex-column container-fluid vh-100 mt-5">
        <div class="col-12 row justify-content-center mt-5">
            <div class="col-12 d-flex flex-row justify-content-center align-items-center mb-5">
                <div class="col-8">
                    <h1>Ciao, &lt;nome utente&gt;</h1>
                    <h4 class="fw-normal">Supervisore di Ingegneria Informatica T</h4>
                </div>
            </div>
            <div class="col-4">
                <h2 class="mb-3">
                    Eventi Avvenuti
                </h2>
                <ul class="list-group">
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Professore uno</h5>
                            <small>magari ci mettiamo una data</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Professore uno</h5>
                            <small>magari ci mettiamo una data</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Professore uno</h5>
                            <small>magari ci mettiamo una data</small>
                        </div>
                        <p class="mb-1">Some placeholder content in a paragraph.</p>
                    </a>
                </ul>
            </div>
            <div class="col-4 justify-content-center align-items-center">
                <h2 class="mb-3 ">
                    Azioni Significative
                </h2>
                <ul class="list-group">
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                        Breve descrizione dell'azione.
                        <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                        Breve descrizione dell'azione.
                        <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </a>
                    <a href="#" class="list-group-item d-flex justify-content-between align-items-center">
                        Breve descrizione dell'azione.
                        <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <!-- FINE -->
</body>

</html>