<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DA SOSTITUIRE COME PARAMETRO</title>
    <link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="./js/bootstrap/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- INIZIO -->
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex" role="search">
                    <a class="btn btn-primary me-2" href="">Login</a>
                    <a class="btn btn-secondary" href="">Registrati</a>
                </div>
            </div>
        </div>
    </nav>


    <!-- INIZIO -->
    <div class="d-flex flex-column container-fluid mt-5 align-items-center">
        <div class="col-4 row justify-content-center mt-5">
            <div class="dropdown w-100">
                <button class="mb-3 btn btn-link dropdown-toggle fs-4 ms-0 ps-0 text-muted text-decoration-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown button
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    
                  <li><a class="dropdown-item btn btn-danger" href="#">Abbandona</a></li>
                </ul>
              </div>
            <div class="mb-3">
                <ul class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start fs-3">
                        <div class="ms-2 me-auto">
                            <div class="">Subheading</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start fs-4">
                        <div class="ms-2 me-auto">
                            <div class="">Subheading</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start fs-5">
                        <div class="ms-2 me-auto">
                            <div class="">Subheading</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="">Subheading</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="">Subheading</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="">Subheading</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="">Subheading</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="">Subheading</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="">Subheading</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">100 CFU</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- FINE -->
</body>

</html>